.quote-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 4rem 0 4rem 4rem;
  font-size: 2.2rem;
  font-weight: 700;
}

.quote-Text {
  width: 45rem;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 600;
}

.loading {
  font-size: 1.6rem;
  font-weight: 600;
}

.quote-Header {
  font-size: 2.8rem;
  font-weight: 600;
}

.error {
  text-align: center;
  width: 30rem;
  height: 30rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: red;
}
